<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="qEbl0WJraHRhqVgIEhKvDzR_wV3eGRhOJ8O6HN5xkC4" />
    <title>Uwaistv</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
