<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="qEbl0WJraHRhqVgIEhKvDzR_wV3eGRhOJ8O6HN5xkC4" />
    <title>Situs pembelian tiket travel | Syafarina</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render partial: 'partials/navbar' %>

    <%= yield %>

    <%= render partial: 'partials/footer' %>

    <script src="jquery.js"></script>
    <script src="moment.js"></script>
    <script src="bootstrap.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYeBBmgAkyAN_QKjAVOiP_kWZ_eQdadeI&callback=initMap&libraries=places"></script>
    <script src="owl-carousel.js"></script>
    <script src="blur-area.js"></script>
    <script src="icheck.js"></script>
    <script src="gmap.js"></script>
    <script src="magnific-popup.js"></script>
    <script src="ion-range-slider.js"></script>
    <script src="sticky-kit.js"></script>
    <script src="smooth-scroll.js"></script>
    <script src="fotorama.js"></script>
    <script src="bs-datepicker.js"></script>
    <script src="typeahead.js"></script>
    <script src="quantity-selector.js"></script>
    <script src="countdown.js"></script>
    <script src="window-scroll-action.js"></script>
    <script src="/assets/fitvid.js"></script>
    <script src="youtube-bg.js"></script>
    <script src="custom.js"></script>
  </body>

</html>
